header {
    background-color:#89ab75;
    color: white;
    padding: 20px 0;
}
.header-content {
    display: flex;
    align-items: center;
    justify-content: center; /* Center contents within header */
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
